In [1]:
import pandas as pd
data = pd.DataFrame(pd.read_csv("Review_with_sentiment_class.csv"))

In [2]:
data = data[['RecipeId','Review','Review_classified']]
#only needed columns selected

In [3]:
data.head()

,RecipeId,Review,Review_classified
0,992,better than any you can get at a restaurant!,average
1,4384,"I cut back on the mayo, and made up the differ...",average
2,4523,i think i did something wrong because i could ...,poor
3,7435,easily the best i have ever had. juicy flavor...,NaN
4,44,An excellent dish.,very good

In [4]:
#A function that convert likert scale to some score
review_list = ["very poor", "poor", "average", "good", "very good"]
def review_score(x):
        if x == review_list[0]:
            return 1
        elif x == review_list[1]:
            return 2
        elif x == review_list[3]:
            return 4
        elif x == review_list[4]:
            return 5
        else:
            return 3

In [5]:
# A function that convert score to likert scale string again
def review_class(x):
        if x >= 5:
            return review_list[4] 
        elif x >=4:
            return review_list[3]
        elif x >= 3:
            return review_list[2]
        elif x >= 2:
            return review_list[1]
        else:
            return review_list[0]

In [6]:
data["Review_Score"] = data["Review_classified"].apply(review_score)
# converting likert scale strings into score for furhter operation

In [7]:
group_data = data.groupby(['RecipeId'], as_index = False).sum()
#groupby data by unique recipies and the sum funciton for getting the total review score for a unique recipe
count_data = data.groupby(['RecipeId'], as_index = False).count()
#getting the count of review occurs for each recipie
#so that we can calcualte the average review score

In [8]:
group_data.head()

   RecipeId  Review_Score
0        38            13
1        39             3
2        40            29
3        41             8
4        42            31

In [9]:
count_data = count_data[["RecipeId", "Review"]]
#selecting only the necessary columns

In [10]:
count_data.head()

   RecipeId  Review
0        38       4
1        39       1
2        40       9
3        41       2
4        42       9

In [11]:
dataframe = group_data.merge(count_data,on='RecipeId')
#merge dataframe on RecipeId

In [12]:
dataframe.head()

   RecipeId  Review_Score  Review
0        38            13       4
1        39             3       1
2        40            29       9
3        41             8       2
4        42            31       9

In [13]:
dataframe["Average_Score"] = dataframe["Review_Score"]/dataframe["Review"]
#getting the average review score, which again will be converted to likert classes

In [14]:
dataframe.head()

   RecipeId  Review_Score  Review  Average_Score
0        38            13       4       3.250000
1        39             3       1       3.000000
2        40            29       9       3.222222
3        41             8       2       4.000000
4        42            31       9       3.444444

In [15]:
dataframe["Review_Class"] = dataframe["Average_Score"].apply(review_class)
#converting score to likert scale again

In [16]:
dataframe.head()

   RecipeId  Review_Score  Review  Average_Score Review_Class
0        38            13       4       3.250000      average
1        39             3       1       3.000000      average
2        40            29       9       3.222222      average
3        41             8       2       4.000000         good
4        42            31       9       3.444444      average

In [17]:
clean_data = dataframe[["RecipeId", "Review_Class"]]
#selecting the useful colunms

In [18]:
clean_data.to_csv("Reviews.csv", index = False)
#saving the data as a comma separated value file